 body{
            transition: background-color 0.5s, color 0.5s;
            background-color: white;
            color: black;
            display: flex;
            flex-direction: column;
            
        }
 
        body.dark-mode {
            background-color: black;
            color: white;
        }
 
        .toggle-switch {
            position: absolute;
            top: 20px;
            right: 50px;
            width: 40px;
            height: 20px;
            border: 2px solid black;
            border-radius: 20px;
            cursor: pointer;
            transition: all 0.5s;
        }
 
        .toggle-knob {
            position: absolute;
            top: 1.5px;
            left: 2px;
            height: 13px;
            width: 13px;
            background-color: black;
            border-radius: 50%;
            transition: all 0.5s;
        }
 
        body.dark-mode .toggle-switch {
            border-color: white;
        }
 
        body.dark-mode .toggle-knob {
            left: 24px;
            background-color: white;
        }
 
        .content {
            text-align: center;
        }

@font-face {
    font-family: 'WebFont';
    src: url('1.ttf') format('truetype');
    font-weight: normal;
        }
h1 {
    color: #45a1ff;
    font-family: 'WebFont';
    }
    

 nav a {
            text-decoration: none;
            font-size: 22px;
            color: #ffffff;
            background-color: #45a1ff;
            padding: 8px 16px;
            margin: 0 10px;
            border-radius: 5px;
            font-family: 'WebFont';
	 } 
	 footer a {
	display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #ffffff;
    font-family: 'WebFont';
    text-decoration: none;
	 }
	 footer p{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #ffffff;
    font-family: 'WebFont';
	 }
